version: '3'
services:
  cassandra-0:
    restart: "no"
    entrypoint: ["echo", "Service has disabled"]
  cassandra-1:
    restart: "no"
    entrypoint: ["echo", "Service has disabled"]
  jaeger:
    restart: "no"
    entrypoint: ["echo", "Service has disabled"]
  phpldapadmin:
    restart: "no"
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=172.17.0.1
      - PHPLDAPADMIN_HTTPS=false
